.DS_Store
*.pyc
*.pt
*.pkl
*.log
*.npz
**/wandb/*
**/data/*.*sv
third_party/
Metabarcoding/analysis/data_curation/results/
**/__pycache__
**slogs/
**.slurm_jobs/
data/embeddings*.npy
autoresearch/results.tsv